NEXT_PUBLIC_SUBGRAPH_URL="https://api.thegraph.com/subgraphs/name/wyze/treasure-marketplace"
NEXT_PUBLIC_SUBGRAPH_URL_NEXT="https://api.thegraph.com/subgraphs/name/treasureproject/marketplace-next"
NEXT_PUBLIC_SUBGRAPH_URL_BRIDGEWORLD="https://api.thegraph.com/subgraphs/name/treasureproject/bridgeworld"
NEXT_PUBLIC_CHAIN_IDS=["0x"]
NEXT_PUBLIC_CHAIN_ID="0x"

NEXT_PUBLIC_INDEX_REDIRECT_URL="/collection/smol-brain"
NEXT_PUBLIC_BASE_ROUTE="/"

NEXT_PUBLIC_TREASURE_MARKETPLACE_ADDRESS="0x"
NEXT_PUBLIC_SMOLSWAP_ADDRESS="0x"

NEXT_PUBLIC_INFURA_PROJECT_ID="9aa3d95b3bc440fa88ea12eaa4456161"

NEXT_PUBLIC_INFURA_FORTMATIC_PROJECT_ID="pk_test_391E26A3B43A3350"
